
body {
    background-image:url(./img/teste5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    padding: 5px;
    
}

div.personagens_container{
    display: flex;
    justify-content: center;
    align-items: center;
}



div.max-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


div#display {
    width: 300px;
    height: 150px;
    margin: 0 auto;
}

div#display p {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    text-shadow: 5px;
    background-color:#000;
    
}


.personagens {
    width: 200px;
    padding: 10px;

}

ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    margin-top: 10%;
    height: 80px;
}

li {
    margin: 20px;
}

li img{
    width: 75px;
}

ul img:hover {
cursor: pointer;
}


@media screen and (min-width: 768px){

    h1 {
        font-size: 5rem;
    }

  

    div.personagens_container img{
        width: 250px;
        padding: 0;
    }
    div#display {
        width: 400px;
        height: 300px;
        margin: 15px;
       
    }

    div.personagens_container{
        width: 150px;
    }

    div.max-container {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

    section.gameBody {
        width: 100px;
    }


    ul {
 
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25%;
        height: 400px;
        width: 150px;
        
      
    }


    li img{
        width: 100px;
        margin-right: 50px;
   
  
    }

    li img:hover{
      
        width: 150px;
    }


}



