
body {
    background-image:url(./img/teste5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    border: solid red 1px;
}

div.personagens_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.max-container {
  
   
}


.personagens {
    width: 250px;
    padding: 10px;

}

ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: solid blue 1px;
    margin-top: 70%;
    height: 80px;
}

li {
    margin: 20px;
}

li img{
    width: 75px;
}

ul img:hover {
cursor: pointer;
}


@media screen and (min-width: 768px){

    .personagens {
        width: 300px;

    }
    
    div.max-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       justify-content: space-between;
        
        border: solid pink 1px;
    }

    section.gameBody {
        width: 100px;
        display: flex;
        justify-content: center;
       
    }

    /* ul {
        margin-top: 30%;
        height: 120px;
        border: solid orange 1px;
    }

    li {
        margin: 50px;
        display: flex;
    }
    
    li img{
        width: 100px;
        margin: 0 30px;
        border: solid red 1px;
    } */

    ul {
       
        border: solid blue 1px;
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        height: 400px;
        
      
    }


    li img{
        width: 100px;
        margin: 0 30px;
  
    }

    li img:hover{
      
        width: 150px;
    }


}



